.container {
    height: 500px;
    width: 500px;
    background-color: cornflowerblue;
    /* display: flex;
    justify-content: space-around;
    align-items: flex-end;
*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
}



.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: pink;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.c2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.c3 {
    grid-row: 4/5;
    grid-column: 3/4;
}

.c1 {
    grid-row: 3;
    grid-column: 3;
}